<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=cb4c4d30-c2c6-4ee5-9a92-4e9b5dbbd554&lang=ru_RU" type="text/javascript"></script>
  

</head>
<body>
  {{!-- {{> './src/templates/form.hbs'}} --}}
  {{> './src/templates/geo-content.hbs'}}
  
</body>
</html>