<div id='avatarForma' class='avatar-forma'>
  <div class='avatar-container'>
    <div class='avatar-title'>Загрузка фото</div>
    <div class='avatar-load'>
      <div id='avatar-load' class='avatar-load-icon'><input
          id='file'
          type='file'
          class='file-style'
        /></div>
      <div class='avatar-load-label'></div>
    </div>
    <div class='avatar-btns'>
      <button id='avatar-btn-cancel' class='avatar-btn'>Отмена</button>
      <button id='avatar-btn-load' class='avatar-btn'>Загрузить</button>
    </div>
  </div>
</div>