<div class='chat'>
  <style id='avatars'></style>
  <div class='chat-l'>
    <div class='chat-head'></div>

    <div class='chat-users'></div>
  </div>

  <div class='chat-r'>
    <div class='chat-title'>
      <div class='chat-title-label'>Чат</div>
      <div class='chat-title-number'><span id='numberUsers'></span>
        участника</div>
    </div>

    <div id='messageContainer' class='chat-body'></div>

    <div class='chat-send'>
      <input
        id='messageText'
        type='text'
        class='chat-send-input'
        placeholder='Введите сообщение...'
      />
      <button id='sendButton' class='chat-send-btn'>Отправить</button>
    </div>
  </div>
</div>