<div class='yform'>
  <div class='reviews-form'>
    <div class='reviews-form-line'>
      <div class='reviews-form-top'>
        <div class='reviews-user'>Сергей </div>
        <div class='reviews-place'>Кафе</div>
        <div class='reviews-date'>12.01.2020</div>
      </div>
      <div class='reviews-content'>
        Очень хорошее место!
      </div>
    </div>
  </div>
  <div class='yform-title'>Отзыв:</div>
  <form action=''>
    <input
      id='#y-name'
      type='text'
      placeholder='Укажите ваше имя'
      class='y_input'
    />
    <input
      id='#y-place'
      type='text'
      placeholder='Укажите место'
      class='y_input'
    />
    <textarea
      id='#y-reviews'
      name=''
      id=''
      placeholder='Оставить отзыв'
      class='y_textarea'
    ></textarea>
    <button class='btn'>Добавить</button>
  </form>
  <div class='close-form'></div>
</div>