<div class='login'>
  <div class='login-icon'></div>
  <div class='login-title'>Авторизация</div>
  <div class='login-label'>Введите пожалуйста свой ник для дальнейшей
    авторизации</div>
  <input
    id='login'
    type='text'
    class='login-input'
    placeholder='Введите свой ник'
  />
  <button id='login-btn' class='btn-log'>войти</button>
</div>