@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.chat {
  background: #0e1621;
  min-height: 100vh;
  display: flex;
  display: none;
}

.chat-l {
  width: 263px;
  min-height: 100vh;
  background: #17212b;
}

.chat-r {
  width: calc(100% - 263px);
  min-height: 100vh;
  padding-left: 2px;
}

.chat-title {
  background: #17212b;
  padding: 13px 16px;
  color: #fff;
}

.chat-title-label {
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 4px;
}

.chat-title-number {
  color: #7f91a4;
  font-size: 12px;
}

.chat-send {
  padding: 14px 10px;
  background: #17212b;
}

.chat-send-btn {
  background: #5387c1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  line-height: 1.2em;
}

.chat-send-btn:hover {
  transition: all 0.3s;
  opacity: 0.7;
}

.chat-send-input {
  font-size: 14px;
  padding: 8px 0;
  background: none;
  border: none;
  outline: none;
  resize: none;
  color: #fff;
  width: calc(100% - 120px);
}

.chat-send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-body {
  padding: 17px 9px;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.chat-body {
  color: #fff;
}

.chat-line {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}

.chat-line-avatar {
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background-color: #cecece;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 22px;
}

.chat-line-user {
  color: #5387c1;
  font-size: 12px;
  list-style: 1.3em;
  font-weight: 500;
  margin-bottom: 8px;
}

.chat-line-mess {
  background: #182633;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 8px 20px;
  font-weight: 300;
  display: inline-flex;
  justify-content: space-between;
}

.chat-line-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.chat-line-date {
  color: #7f91a4;
  font-weight: 300;
  margin-top: 4px;
  font-size: 14px;
  margin-left: 10px;
}

.chat-info {
  font-size: 12px;
  color: #7f91a4;
  margin-bottom: 10px;
  text-align: center;
}

.chat-line.active {
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 40px;
  text-align: right;
}

.chat-line.active .chat-line-avatar {
  left: auto;
  right: 0;
}

.chat-line.active .chat-line-mess {
  background: #2b5279;
}

.chat-user-line {
  display: flex;
  align-items: center;
}

.chat-user-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-color: #cecece;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.chat-l {
  padding: 20px 15px;
  color: #fff;
}

.chat-user-line {
  margin-bottom: 12px;
}

.chat-user-label {
  color: #5387c1;
  font-size: 14px;
  line-height: 1.3em;
}

.chat-user-label {
  width: calc(100% - 46px);
  margin-left: 10px;
}

.chat-head {
  margin-bottom: 30px;
  border-bottom: 1px solid #263a56;
  padding-bottom: 20px;
}
.login {
  background: #17212b;
  padding: 40px 60px;
  max-width: 452px;
  text-align: center;
  position: absolute;
  top: 50%; /* 3 */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.login .login-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3em;
  color: #fff;
  margin-bottom: 13px;
}

.login .login-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 35px;
  color: #7f91a4;
}

.login-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #465461;
  background: none;
  font-size: 16px;
  margin-bottom: 42px;
  padding: 5px 0;
  font-weight: 300;
  color: #fff;
}

.login-input:focus {
  border-bottom: 1px solid #5188c1 !important;
}

.btn-log {
  background: #5188c1;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 13px 40px;
}

.btn-log:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.login-icon {
  background: #232f3d;
  width: 139px;
  height: 139px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='85' height='65' viewBox='0 0 85 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 0C34.4772 0 30 4.47715 30 10V33C30 38.5228 34.4772 43 40 43H41V51L48.1111 43H75C80.5228 43 85 38.5228 85 33V10C85 4.47715 80.5228 0 75 0H40ZM78 7H37V36H78V7Z' fill='%235188C0'/%3e%3cpath d='M32.2909 45.1119V53.8236H4.70908V32.2157H27V27H6.72727C3.0119 27 0 30.3359 0 34.451V51.5882C0 55.7033 3.0119 59.0392 6.72727 59.0392H24.8162L29.6 65V59.0392H30.2727C33.9881 59.0392 37 55.7033 37 51.5882V46.9231L32.2909 45.1119Z' fill='%235188C0'/%3e%3cpath d='M68.6909 45V55.2242H49.3091V50.2797L46 51.3077V53.9555C46 56.2911 48.1165 58.1844 50.7273 58.1844H51.2V61.5676L54.5616 58.1844H67.2727C69.8835 58.1844 72 56.2911 72 53.9555V45H68.6909Z' fill='%235188C0'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
}

.file-style {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.file-style {
  color: transparent;
}
.file-style::-webkit-file-upload-button {
  visibility: hidden;
}
.file-style::before {
  display: none;
}

.avatar-forma {
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  display: none;
  z-index: 20;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.avatar-container {
  background: #17212b;
  border-radius: 4px;
  padding: 30px 35px;
  max-width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

.avatar-title {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 40px;
}

.avatar-load-icon {
  width: 86px;
  height: 86px;
  background: #232f3d;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.959 11.5766C14.959 13.4922 13.4103 15.045 11.5 15.045C9.58966 15.045 8.04102 13.4922 8.04102 11.5766C8.04102 9.66099 9.58966 8.10811 11.5 8.10811C13.4103 8.10811 14.959 9.66099 14.959 11.5766Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.2487 3.06306H19.9902C21.6525 3.06306 23 4.41428 23 6.08108V16.982C23 18.6488 21.6525 20 19.9902 20H3.00977C1.34752 20 0 18.6488 0 16.982V6.08108C0 4.41428 1.34752 3.06306 3.00977 3.06306H5.75126C5.79882 1.36329 7.18791 0 8.89453 0H14.1055C15.8121 0 17.2012 1.36329 17.2487 3.06306ZM11.5 17.027C14.502 17.027 16.9355 14.5868 16.9355 11.5766C16.9355 8.56637 14.502 6.12613 11.5 6.12613C8.49803 6.12613 6.06445 8.56637 6.06445 11.5766C6.06445 14.5868 8.49803 17.027 11.5 17.027Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.avatar-load-icon .file-style {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.avatar-load {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.avatar-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.avatar-btn {
  background: #1d2a3a;
  border-radius: 2px;
  color: #6bb2f2;
  text-transform: uppercase;
  padding: 9px 11px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 15px;
}

.avatar-btn:hover {
  opacity: 0.6;
}

.avatar-load-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
